.slides {
  width: 1248px;
  height: 179px;
  margin: auto auto;
  position: relative;
}
.slide {
  width: 1133px;
  height: 100%;
  background-color: #006dff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;

  margin: 0 auto;
}
.slide p {
  width: 772px;
  height: 116px;
  font-size: 36px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.prev {
  left: 100px;
  cursor: pointer;
  position: absolute;
  top: 12%;
  width: auto;
  margin-top: -1.875rem;

  color: black;
  font-weight: bold;
  font-size: 2.5rem;
  border-radius: 3px;
  user-select: none;
  transition: 0.4s;
}

.next {
  cursor: pointer;
  position: absolute;
  right: 100px;
  top: 10%;
  width: auto;
  margin-top: -1.875rem;
  padding: 1rem;
  color: black;
  font-weight: bold;
  font-size: 2.5rem;
  border-radius: 3px;
  user-select: none;
  transition: 0.4s;
}

.icon-container {
  text-align: center;
  padding: 0 1.25rem;
  margin-top: 20px;
}

/* the dots/bullets/indicators */
.icon {
  cursor: pointer;
  padding: 5px 5px;
  display: inline-block;
}

/* add bg color to the active dot/circle */
.active {
  fill: #006dff;
}
